.red-background {
    background-color: #FF1300;
}
.image-class {
    max-width: 100px;
   max-height: 100px;
}
.red {
    background: rgb(185, 27, 27);
}
@font-face {
    font-family: 'yorktenslabnormregular';
    src: url('yorktenslabnormregular-webfont.woff2') format('woff2'),
         url('yorktenslabnormregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 768px) {
    .plate{
        /* position: absolute !important;
        bottom: 0px;
        width:100%;
        z-index: 12; */
    }
}
.description{
    word-wrap: break-word;
    max-width: 20 em;
}
